{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{% static 'app/images/product/l_5.jpg' %}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>Product Title: Product 1</h2>
   <hr>
   <p>Product Description:- A modern style outdoor wall light designed with strong lines and a deep textured black finish for understated elegance.</p> <br>
   <h4>Rs. 1399 <small class="fw-light text-decoration-line-through">1599</small></h4> <br>
   <a href="{% url 'add-to-cart' %}" class="btn btn-primary shadow px-5 py-2">Add to Cart</a>
   <a href="{% url 'buy-now' %}" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a>
   <h5 class="mt-5">Additional Info</h5>
   <ul>
    <li>28" high x 7" wide. Extends 6" from the wall. Weighs 9.28 lbs.</li>
    <li>Textured black finish. Steel construction. Clear glass panels.</li>
    <li>Wallplate is 21" high x 5" wide x 3/4" deep. Mounting point to top of fixture is 14"</li>
    <li>Modern outdoor wall light fixture from the Jericho collection from Possini Euro Design. A great addition to a porch, patio, or garage area.</li>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}